/* custom styles rules for the blog */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(/js/boxsizing.htc);
}

.blog-header {
  padding: 30px 15px;
  /* background-color: #333; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(0, 119, 255, 0.9066001400560224) 100%
  );
}

.blog-name {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
}

.blog-name a {
  color: #fff;
}

.search-form input {
  height: 36px;
  background-color: #ccc;
  color: #555;
  border: 0;
  padding: 0 10px;
  border-radius: 30px;
}

/* .search-form input :: -webkit-input-placeholder{
    color:aqua;
}
.search-form input :: -moz-placeholder{
    color:aqua;
}
.search-form input :: -ms-input-placeholder{
    color:aqua;
} */

.search-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* style for the navigation */
.blog-menu {
  margin: 30px 0;
  /* top and buttom 30px */
  text-align: center;
}

/* Remove the left-hand side padding of <ul>, as follows */
.blog-menu ul {
  padding-left: 0;
}

.blog-menu li {
  margin: 15px;
  list-style: none;
}
/* Customize the menu color and font, as follows */
.blog-menu a {
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.blog-menu a:hover {
  color: coral;
}

/* Enhancing the content section */
.blog_content {
  padding: 15px; /*whitespace on all sides*/
  margin-bottom: 30px;
}

.post {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ddd;
}

.post-title {
  font-size: 36px;
  text-align: center;
  margin-top: 0;
  
}

.post-title a {
  color: #333;
}
.post-title a:hover {
  color: #3498db;
}
.post-meta {
  font-size: 18px;
  margin: 20px, 0 0;
  text-align: center;
  color: #999;
}
.post-meta ul {
  list-style-type: none;
  padding-left: 0;
}
.post-meta li {
  margin-bottom: 10px;
}
/* let's remove these margins for thumbnail */
.post-thumbnail {
  margin: 0px;
}
.post-thumbnail figcaption {
  /*check this block*/
  color: #bdc3c7;
  margin-top: 15px;
  font-size: 16px;
  font-style: italic;
}
.post-excerpt {
  color: #555;
  font-size: 18px;
  line-height: 30px;
}
/* we will write the style of the blog pagination. First, let's make some adjustments 
to the font size, the font family, the whitespace, the position, and the alignment */
.blog-pagination {
  text-align: center;
  font-size: 16px;
  position: relative;
  margin: 60px 0; /* top and botton 60px -- left and right 0px */
}
.blog-pagination ul {
  padding-left: 0;
}

.blog-pagination li,
.blog-pagination a {
  display: block;
  width: 100%;
}

.blog-pagination li {
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  color: #bdc3c7;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.blog-pagination a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #7f8c8d;
  padding: 15px 30px;
  border: 1px solid #bdc3c7;
}

.blog-pagination a:hover {
  color: #fff;
  background-color: #7f8c8d;
  border: 1px solid #7f8c8d;
}
.blog-pagination .pageof {
  position: absolute;
  top: -30px;
}

/* style footer */
.blog-footer{
  background-color: #ecf0f1;
  padding: 60px 0;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
  margin-top: 60px;
}

.blog-footer, .blog-footer a{
  color: #7f8c8d;
}

.social-media{
  margin: 0 0 30px;
}

.social-media ul{
  margin: 0;
  padding-left: 0;

}

.social-media li{
  margin: 0 8px 10px;
  list-style: none;

}

.social-media li, .social-media a{
  font-size: 18px;
}
.social-media a:hover{
  color: #333;

}

.copyright {
  margin-top: 0;

}
.social-media, .copyright{
  text-align: center;
}